Package: trafficserver
Version: %ATS_VERSION%-mike
Architecture: amd64
Maintainer: Miguel De Lora
Pre-Depends: init-system-helpers (>= 1.54~)
Depends: libbrotli1 (>= 0.6.0), libc6 (>= 2.29), libcap2 (>= 1:2.10), libcurl4 (>= 7.16.2), libgcc-s1 (>= 3.4), libgeoip1 (>= 1.6.12), libhwloc15 (>= 2.4.1+dfsg), libluajit-5.1-2 (>= 2.0.4+dfsg), liblzma5 (>= 5.1.1alpha+20110809), libncursesw6 (>= 6), libpcre3, libssl1.1 (>= 1.1.1), libstdc++6 (>= 9), libtcl8.6 (>= 8.6.0), libtinfo6 (>= 6), libunwind8, libyaml-cpp0.6 (>= 0.6.2), zlib1g (>= 1:1.2.0), lsb-base (>= 3.2-14), adduser, perl:any, libmaxminddb0
Replaces: trafficserver-experimental-plugins (<< 8.0.0~), trafficserver-plugin-conf-remap (<< 3.2~)
Provides: trafficserver-plugin-conf-remap, trafficserver-experimental-plugin
Section: web
Priority: optional
Homepage: https://trafficserver.apache.org/
Description: fast, scalable and extensible HTTP/1.1 and HTTP/2.0 caching proxy server
 This package provides the Apache Traffic Server, a fast, scalable reverse
 proxy server which may operate as forward proxy as well. Apache Traffic Server
 supports:
 .
   * Caching: improve response time while reducing server load and bandwidth
     needs by caching and reusing frequently-requested web pages, images, and
     web service calls.
   * Proxying: add keep-alive, filter or anonymize content requests, or add
     load balancing by adding a proxy layer.
   * Scaling: handle 10s of thousands of requests per second on modern SMP
     hardware.
   * Extensions: use the API to do anything from modifying HTTP headers to
     handling ESI requests to writing your own cache algorithm.
